@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(40%, 1% + 2vw, 62.5%);

    --bg-color: #000;
    --text-color: #E1E1E6;
    --table-color-one: #092D38;
    --table-color-two: #06161B;
    --button-color: #ffffff;
    --input-color: #06181c;
    --intup-tx: #7C7C8A;
    --button-tx-color: #065e7c;
    --remove-color: #f75a68;
}

body {
    background-color: var(--bg-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 1120px;
    margin: 0 auto;
    padding: 3rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 4.5rem 0;
}

.search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    width: 35rem;
    height: 4.8rem;

    border: none;
    border-radius: .4rem;
    padding: 0 0.8rem;

    background-color: var(--input-color);
    color: var(--text-color);
}

.search input::placeholder {
    color: var(--intup-tx);
}

.search button {
    display: flex;
    align-items: center;
    gap: .8rem;

    background-color: var(--button-color);
    color: var(--button-tx-color);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;

    border-radius: .4rem;
    height: 4.8rem;
    border: none;
    padding: 1.2rem;

    cursor: pointer;

    text-transform: uppercase;
}

.search button:hover {
    filter: brightness(1.1);
}

.search button img {
    width: 2.4rem;
    height: 2.4rem;
}


table {
    width: 100%;
    border-collapse: collapse;

}

table * {
    font-size: 2rem;
    color: #fff;
}

table th {
    background: var(--table-color-one);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: 1.2rem;
}

table th:last-child {
    border-top-right-radius: 1.2rem;
}

tbody tr:last-child td:nth-child(4) {
    border-radius: 0 0 1.2rem 0;
}



table tr:nth-child(even) {
    background: var(--table-color-one);
}

table tr:nth-child(odd) {
    background: var(--table-color-two);
}

table td { 
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}


td.user img {
    width: 5rem;
    height: 5rem;
    
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background-color: transparent;
    color: var(--remove-color);

    border: none;

    font-weight: bold;

    cursor: pointer;
}

.empty-state {
    background-color: #4e5455;

    display: flex;
}

.no-favs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    margin: 21rem auto 28.7rem;
}

.no-favs img {
    width: 13.2rem;
    height: 12.5rem;
}

.no-favs h2 {
    font-size: 4rem;
    line-height: 2.5rem;
    color: var(--text-color);
}

.hide {
    display: none;
}